asyncpg==0.30.0
blinker==1.9.0
brotli==1.1.0
brotlicffi==1.1.0.0
ca_certs_locater==1.0
cffi==1.17.1
chardet==5.2.0
click==8.2.1
cryptography==45.0.6
certifi
email-validator==2.1.1
fastapi==0.116.1
grpcio_status==1.74.0
google-auth==2.35.0
google-auth-oauthlib
google-api-python-client
h2==4.2.0
httpx==0.28.1
Jinja2==3.1.6
google-auth-httplib2
httplib2
js==1.0
langchain==0.3.27
langchain_core==0.3.74
langchain_openai==0.3.29
langchain_text_splitters==0.3.9
numpy==2.3.2
oauth2client==4.1.3
openai==1.99.9
bcrypt==4.0.1
packaging==25.0
pandas==2.3.1
passlib==1.7.4
pydantic==2.11.7
pydantic_settings==2.10.1
pyOpenSSL==25.1.0
python-dotenv==1.1.1
python_jose==3.3.0
pyu2f==0.1.5
psycopg2-binary==2.9.10
PyMuPDF
qdrant_client==1.15.1
railroad==0.5.0
replicate
simplejson==3.20.1
SQLAlchemy==2.0.43
tiktoken==0.10.0
typing_extensions==4.14.1
unstructured==0.18.11
uvicorn==0.35.0
unstructured[pdf]
zstandard==0.23.0
langchain-google-genai